.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #19275d;
}

h1 {
  margin: 30px;
  font-family: 'Kalnia', serif;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #cc4eb9
}

.btn1, .btn2 {
  margin-block-end: 2rem;
}
p {
  font-size: 2rem;
  color: #cc4eb9;
  font-family: 'Gruppo', sans-serif;
  text-transform: uppercase;
}

img {
  height: 15rem;
  display: block;
  padding: 0 2rem;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


.btn {

  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: 'Gruppo', sans-serif;
  font-size: 2rem;
  margin-block-start: 3rem;
  background-color: #195d4b;
  color: white;
}
